@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

/*Home*/
.mitad-body{
  margin: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 965px;

}
.container-ingress{
  background: black;
  height: 404px;
  width: 759px;
}
.container-ingress {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ingress-button{
  background-color: #9CECD4;
  width: 250px;
  height: 64px;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
/*Home*/
h1[name="header__titulo"] {
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(1px);
  font-size: 100pt;
  font-family: "Black Ops One", system-ui;
  color: black;
}

.header {
  border: 4px solid rgb(0, 0, 0);
  background: rgb(133, 19, 19);
  padding: 1rem;
  backdrop-filter: blur(1px);
  font-size: 18px;
  font-family: "Silkscreen", sans-serif;
  border-radius: 25px;
  margin-right: 100px;
  margin-left: 100px;
  color: #ffff;
  text-align: justify;
}
.box-select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#searchName {
  border-radius: 15px;
  width: 60px; /* Ancho del botón */
  height: 45px; /* Alto del botón */
  font-size: 18px;
  backdrop-filter: blur(1px);
  margin-left: 10px;
  background-color: rgba(248, 238, 238, 0.903);
  cursor: pointer;
  transition: transform 100ms ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 0px;

}
#reset {

  background-repeat: no-repeat;
  background-position: 10px center;
  height: 45px;
  width: 60px;
  backdrop-filter: blur(1px);
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
  margin-left: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(248, 238, 238, 0.903);
}
#searchName:hover {
  transform: scale(1.1);

}
label[for="buscador"] {
  font-size: 35px;
  color: #ffff;
  margin-right: 10px;
}
#buscador {
  background-color: rgba(248, 238, 238, 0.903);
  font-size: 18px;
  backdrop-filter: blur(1px);
  width: 350px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-family: "Silkscreen", sans-serif;
  text-align: center;
}
.fa-pie-chart{
  transform: scale(0.7);
}
#statics {
  font-size: 24px;
  background-position: 10px center;
  height: 45px;
  width: 60px;
  backdrop-filter: blur(1px);
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
  margin-left: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(248, 238, 238, 0.903);
}
#statics:hover {
  transform: scale(1.1);
}
select[name="select"] {
    text-align: center;
    background-color: rgba(248, 238, 238, 0.903);
    font-family: "Silkscreen", sans-serif;
    border: 2px solid rgb(0, 0, 0);
    backdrop-filter: blur(1px);
    display: flex;
    font-size: 18px;
    border-radius: 15px;
    height: 40px;
    color: #000000;
    padding-inline: 1rem;
}


select[name="sort-order"] {
  text-align: center;
  background-color: rgba(248, 238, 238, 0.903);
  font-family: "Silkscreen", sans-serif;
  border: 2px solid rgb(0, 0, 0);
  backdrop-filter: blur(1px);
  display: flex;
  font-size: 18px;
  border-radius: 15px;
  margin-left: 10px;
  padding-inline: 1rem;
  height: 40px;
  color: #000000;
}

select[name="type-order"] {
  text-align: center;
  background-color: rgba(248, 238, 238, 0.903);
  font-family: "Silkscreen", sans-serif;
  border: 2px solid rgb(0, 0, 0);
  backdrop-filter: blur(1px);
  display: flex;
  font-size: 18px;
  border-radius: 15px;
  padding-inline: 1rem;
  height: 40px;
  box-sizing: border-box;
  color: #000000;
}
.select {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

}
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 20%;
  height: 30%;
  background-color: black;
  box-shadow: 0 0 40px rgba(231, 238, 8, 0.785);
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #ffff;
  width: 40px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.content-popup {
  max-width: 100%;
  max-height: 100%;
}
.imgPopup {
  overflow: hidden;
  height: 50%;
  width: 50%;
}
.estadisticas {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.3);
  border-radius: 8px;
  width: 90%;
  height: 80%;
  background-color: transparent;
  background-image: url(/data/img/fondopopup.png);
  background-size: 100%;
  justify-content: center;
  align-items: center;
  background-position: center;

}
/* not-found */
.text-error{
  color: #7B6E6E;
}
.text-baloon{
  text-align: justify;
  box-shadow: 10px 10px 4px rgba(22, 21, 21, 0.2) ;
  border-radius: 20px;
   height:  189px;
   width: 504px;
   border-color: black solid;
   background: #ffff;
   font-size: 30px;
   margin-left: 50%;
   color: #7B6E6E;
   font-family: "Oswald", sans-serif;
   padding: 10px 20px 10px 20px;
}
.img-content {
  position: relative;
}
img{
  height: 61em;
}
.img-content img {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin-top: -310px;
}

/* not-found */
